/* Existing CSS (areport.css) */

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Additional CSS */
/* /* Additional styles for form elements */

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

.no-data-trip {
    text-align: center;
}

input[type="number"] {
    width: 70px;
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}