body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style for the form */
form {
    margin-bottom: 20px;
}


.no-data-trip {
    text-align: center;
}

/* Style for the label */
label {
    font-weight: bold;
    margin-right: 10px;
}

/* Style for the text input */
#tripName {
    padding: 8px;
    font-size: 14px;
}

/* Style for the Generate Report button */
button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2f5331;
}

/* Style for the Print Report button */
#printButton {
    border-radius: 20px;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#printButton:hover {
    background-color: #005f6b;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.image-logo {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total {
    text-align: center;
}